body,
button {
    background-color: #282C7A;
    color: #7EAD40;
}

button,
#moves,
.hover-true .cell:hover,
.knight-placed {
    border: 2px solid #7EAD40;
}

    button:hover {
        background-color: #3B436E;
    }

    button:active,
    button.pressed {
        background-color: #7EAD40;
        color: #282C7A;
    }

#board {
    border: 8px solid #7EAD40;
}

    .end-placed {
        background-color: #7ead40 !important;
    }

    .dark {
        background-color: #252861;
    }

    .light {
        background-color: #383D94;
    }