/* GLOBALS */

:root {
    --cell-large: 10vh;
    --cell-small: 7vw;
    --board-padding: 8px;
    --board-border: 8px;
}

/* COLORS */

#board {
    border: var(--board-border) solid var(--accent);
}

.light {
    background-color: var(--light);
}

.dark {
    background-color: var(--dark);
}

/* LAYOUT */

#board,
#board > div,
.row {
    display: flex;
}

#board {
    position: relative;
    height: calc(calc(8 * var(--cell-large)) + calc(4 * var(--board-padding)));
    width: calc(calc(8 * var(--cell-large)) + calc(4 * var(--board-padding)));
    padding: var(--board-padding);
}

#board > div {
    flex-flow: column;
    position: absolute;
}

.cell {
    height: var(--cell-large);
    width: var(--cell-large);
}

@media screen and (max-width: 1374px) {
    #board {
        height: calc(calc(8 * var(--cell-small)) + calc(4 * var(--board-padding)));
        width: calc(calc(8 * var(--cell-small)) + calc(4 * var(--board-padding)));
    }

    .cell {
        height: var(--cell-small);
        width: var(--cell-small);
    }
}
