/* GLOBALS */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --main: #282C7A;
    --light: #383D94;
    --dark: #252861;
    --accent: #7EAD40;
    --hover: #3B4B6E;
    --disabled: #4B5968;
}

/* COLORS */

body {
    background-color: var(--main);
}

* {
    color: var(--accent);
}

/* TYPO */

* {
    font-family: 'Roboto Mono', monospace;
}

/* LAYOUT */

#root {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 'controls log'
                         'controls board';
    gap: calc(var(--board-padding) * 4);
    padding: calc(var(--board-padding) * 4);
}

menu {
    grid-area: controls;
    margin-left: auto;
}

#log {
    grid-area: log;
}

#board {
    grid-area: board;
    margin-right: auto;
}

@media screen and (max-width: 1374px) {
    #root {
        grid-template-columns: auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 'log'
                             'board'
                             'controls'
    }
}
