/* FLEX */
* {
    --board-padding: 8px;
    --board-border: 4px;
}

body,
main,
#controls,
.placement,
#board,
.row {
    display: flex;
}

#controls,
.placement,
#board {
    flex-flow: column;
}

body {
    justify-content: center;
    align-items: center;
}

main,
.row {
    flex-flow: row;
}

/* SPACING */

main {
    gap: 3.5rem;
}

    #controls {
        gap: 4.5rem;
    }

        .placement {
            gap: 1rem;
        }

        #moves {
            margin-top: auto;
        }

    #board,
    .cell {
        position: relative;
    }

        #bottom,
        #middle,
        #top {
            position: absolute;
            top: 8px;
            left: 8px;
        }

        /* #bottom,
        #middle,
        #top, */
        .cell::after {
            position: absolute;
            top: 0px;
            left: 0px;
        }

        .cell::after {
            content: '';
            /* position: absolute; */
            /* top: 0px;
            left: 0px; */
        }