body {
    width: 100vw;
    height: 100vh;
}

    main,
    #controls,
    #board,
    .row {
        width: auto;
        height: auto;
    }

        button,
        #moves {
            height: auto;
            width: auto;

            padding: 0.4em;
        }

        #board {
            padding: 8px;
        }

        .cell {
            height: 10vh;
            width: 10vh;
        }

            .knight-placed {
                padding: 4px;
            }

            .cell::after {
                content: '';
                display: block;
                height: 100%;
                width: 100%;
            }