body {
    width: 100vw;
    height: 100vh;
}

    main,
    #controls,
    .row {
        width: auto;
        height: auto;
    }

        button,
        #moves {
            height: auto;
            width: auto;

            padding: 0.4em;
        }

        #board {
            height: calc(80vh + 16px + 16px);
            width: calc(80vh + 16px + 16px);
            padding: 8px;
        }

            img {
                height: calc(10vh - 8px);
                width: calc(10vh - 8px);
            }

            .cell {
                height: 10vh;
                width: 10vh;
            }

            .cell::after {
                display: block;
                height: 100%;
                width: 100%;
            }

            .knight-placed {
                padding: 4px;
            }