body {
    width: 100vw;
    height: 100vh;
}

    main,
    #controls,
    #board,
    .row {
        width: auto;
        height: auto;
    }

        button {
            height: auto;
            width: auto;

            padding: 0.4em;
        }

        .cell {
            height: 10vh;
            width: 10vh;
        }